
:root {
    --navy-blue-color: #2e2f42;
    --main-text-color: #434455;
    --iris-color: #4d5ae5;
    --active-color: #404bbf;
    --background-color: #f4f4fd;
    --border-solid: #e7e9fc;
    --hero-text-color:#FFFFFF;

    
}

body {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.02em;
    font-weight: 400;
    font-size: 16px;
    line-height: cakc(24 / 16);
    color:var(--main-text-color)
}

.list {
    list-style: none;
    cursor: pointer;  
}

.page-header {}

.page-nav {}

.logo {
    color:var(--iris-color);
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.logo-dark {
    color: var(--navy-blue-color)
}

.menu {}

.list {}

.menu-item {}

.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: cakc(24 / 16);
   color:var(--navy-blue-color);
    text-decoration: none;
}

.menu-link:hover,
.menu-link:focus {
    color:var(--active-color)
}

/*---------------- CONTACT -----------------*/

.contact {
    font-size: 16px;
    line-height: cakc(24 / 16);
    color:var(--main-text-color);
    font-style: normal;
    text-decoration: none;
}


.contact:hover,
.contact:focus {
    color:var(--active-color);
}

/*-------------- HERO ------------------*/

.hero {}

.hero-text {
    font-family: 'Roboto' sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: calc(60 / 56);
    text-align: center;
    letter-spacing: 0.02em;
    color:var(--hero-text-color);
    background:var(--navy-blue-color);
}

.modal-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: cakc(24 / 16);
    letter-spacing: 0.04em;
    color:var(--hero-text-color);
    background:var(--iris-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus {
    background-color:var(--active-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}


.feature-hero {
    color: var(--main-text-color);
}

.menu {}

.list {}

.hero-list {}


.hero-aside{
}

/*.font-weight: 700;
font-size: 36px;
line-height: calc(40 / 36);
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;*/

.hero-item {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
    letter-spacing: 0.02em;
    color:var(--navy-blue-color);
}

.hero-desc {
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;

}


 .btn-main {
        font-weight: 500;
        font-size: 16px;
        line-height: calc(24 / 16);
        letter-spacing: 0.04em;
        color:var(--iris-color);
        background:var(--background-color);
        cursor: pointer;
        
 }

 .btn-main:hover,
 .btn-main:focus {
    color:var(--hero-text-color);
    background:var(--active-color);
 }

 /*=====================FOOTER======================*/

/*
--navy-blue-color: #2e2f42;
    --main-text-color: #434455;
    --iris-color: #4d5ae5;
    --active-color: #404bbf;
    --background-color: #f4f4fd;
    --border-solid: #e7e9fc;
    


.footer-logo {
    font-family: 'Raleway' sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21 / 18);
    letter-spacing: 0.03em;
    color: #4D5AE5;
    background: #2E2F42;*/

 .logo-wiht {
    color:var(--background-color);
 }

 /*.footer-logo-tex {

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #E7E9FC;
 }*/

 .footer-text {
     color:var(--border-solid);
     background:var(--navy-blue-color);
 }
