body {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.02em;
    font-weight: 400;
    font-size: 16px;
    line-height: cakc(24 / 16);
    color: #434455;
}

.list {
    list-style: none;
}

.list {
    text-decoration: none;
}


.page-header {}

.page-nav {}

.logo {
    font-family: 'Raleway' sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: calc(24 / 18);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.logo-dark {
    color: #2E2F42;
}

.menu {}

.list {}

.menu-item {}

.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: cakc(24 / 16);
    color: #2E2F42;
}

.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
}

/*---------------- CONTACT -----------------*/

.contact {
    font-weight: 400;
    font-size: 16px;
    line-height: cakc(24 / 16);
    color: #434455;
    font-style: normal
}


.contact:hover,
.contact:focus {
    color: #404BBF;
}

.modal-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: cakc(24 / 16);
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

/*-------------- HERO ------------------*/

.hero {}

.hero-text {
    font-family: 'Roboto' sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: calc(60 / 56);
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    background: #2E2F42;
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}


.feature-hero {}

.menu {}

.list {}

.hero-list {}

.hero-item {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.hero-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    color: #434455;
}





